.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.imageBox
{
  width: 100px;
  padding: 10px;
}
.imageBox:hover
{
  -moz-box-shadow: 0 0 10px #ccc;
  -webkit-box-shadow: 0 0 10px #ccc;
  box-shadow: 0 0 10px #ccc;
}

.movietitle{
  font-family: 'Marvel', sans-serif;
}
.blinking{
	animation:blinkingText 1s infinite;
  padding-left: 130px;
  font-size: xx-large;
  display: block;
}
@keyframes blinkingText{
	0%{		color:#328ba8;}
	50%{	color: transparent;	}
	100%{	color:#328ba8;}
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
